<ion-content>
  <div class="perfil">
    <div class="back-button">
      <button class="btn-back" type="button">Volver a Inicio</button>
    </div>

    <div class="card">
      <div class="profile-pic">
        IMAGEN PERFIL
      </div>
      <div class="btn-pack">
        <button type="button" (click)="onSolicitud">Solicitudes Pendientes</button>
        <button type="button">Solicitudes Realizadas</button>
        <button type="button">Configuración</button>
      </div>
    </div>
  </div>
</ion-content>