<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title slot="start">TulApp</ion-title>
    <ion-icon name="notifications-outline" slot="end" class="notif-icon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="sol-content">

  <h1 class="page-title">Recados aceptados</h1>

  <div class="tab-toggle">
    <button
      class="tab-btn"
      [class.active]="activeTab === 'activos'"
      (click)="setTab('activos')">
      Activos o en curso
    </button>
    <button
      class="tab-btn"
      [class.active]="activeTab === 'pendientes'"
      (click)="setTab('pendientes')">
      Pendientes
    </button>
  </div>

  @if (activeTab === 'activos') {
    <app-solicitudes-activos />
  }

  @if (activeTab === 'pendientes') {
    <app-recados-pendientes />
  }

</ion-content>
